.Categories-Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    position: absolute;
    /* margin-top: 200px; */
    /* object-fit: contain; */
}