.App-Container{
  width: 100%;
  height: max-content;
  min-height: 100vh;
  background: white;
  /* background: radial-gradient(circle, rgba(255,202,164,1) 0%, rgba(255,180,126,1) 29%, rgba(255,202,164,1) 68%, rgba(255,180,126,1) 100%); */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.App-Content{
  width: 100%;
  height: max-content;
  min-height: 100vh;
  /* border-radius: inhez; */
  background-color: rgba(193, 188, 188, 0.42);
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}
.App-Items {
  width: 92%;
  height: 100% auto;
  min-height: 100vh;
  /* background-color: white; */
  /* position: absolute; */
  top: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 100px;
  /* align-items: center; */
}